body {
    background-color: black;
    text-align: center;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    font-size: 4rem;
}

h1 {
    color: #7FB3D5;
}

p {
    color: yellow;
}

.transform {
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
    padding-top:3500px;
    animation:autoscroll 1000s linear;
}

@keyframes autoscroll{
    to{
        margin-top:-50000px;
    }    
}